In [25]:
# Load model and Scaler

In [26]:
import joblib
import pandas as pd

model = joblib.load('final_random_forest_model.pkl')
scaler = joblib.load('scaler.pkl')

In [27]:
# Load data

In [28]:
df = pd.read_csv('data/processed/model_employee_data.csv')

In [29]:
# prepare input and predict

In [30]:
X = df.drop('PerformanceRating', axis=1)
X_scaled = scaler.transform(X)

predictions = model.predict(X_scaled)

In [31]:
# Create prediction DataFrame

In [32]:
pred_df = df.copy()
pred_df['PredictedPerformanceRating'] = predictions

In [33]:
# print samples and prediction

In [34]:
pred_df.head(10)

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating,PredictedPerformanceRating
0,0,32,1,2,2,5,13,2,10,3,...,10,2,2,10,7,0,8,0,3,3
1,1,47,1,2,2,5,13,2,14,4,...,20,2,3,7,7,1,7,0,3,3
2,2,40,1,1,1,5,13,1,5,4,...,20,2,3,18,13,1,12,0,4,4
3,3,41,1,0,0,3,8,2,10,4,...,23,2,2,21,6,12,6,0,3,3
4,4,60,1,2,2,5,13,2,16,4,...,10,1,3,2,2,2,2,0,3,3
5,5,27,1,1,0,1,3,1,10,2,...,9,4,2,9,7,1,7,0,4,4
6,6,50,1,2,1,5,14,2,8,4,...,4,2,3,2,2,2,2,0,3,3
7,7,28,0,1,2,1,3,2,1,2,...,10,4,3,7,7,3,7,1,3,3
8,8,36,0,1,1,1,3,0,8,3,...,10,2,3,8,7,0,5,0,3,3
9,9,38,0,1,2,1,3,2,1,3,...,10,4,4,1,0,0,0,0,3,3

In [35]:
# printing distributions

In [36]:
pred_df['PredictedPerformanceRating'].value_counts()

PredictedPerformanceRating
3    887
2    186
4    127
Name: count, dtype: int64

In [37]:
# Employee ID + Prediction

In [38]:
pred_df[['EmpNumber', 'PredictedPerformanceRating']].head(10)

   EmpNumber  PredictedPerformanceRating
0          0                           3
1          1                           3
2          2                           4
3          3                           3
4          4                           3
5          5                           4
6          6                           3
7          7                           3
8          8                           3
9          9                           3

## Note

__The final trained Random Forest model was successfully used to generate employee performance predictions on processed data, demonstrating effective model deployment.__